@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

li, button {
    cursor: pointer;
}

.logo-name {
     font-family: "Playwrite NO", cursive;
}